<h1 id="tableLabel">Clusters</h1>
<!-- <p *ngIf="!clusters"><em>Loading...</em></p> -->

<chips-input [words]="words"></chips-input>

<section class="example-section">
  <label class="example-margin">Type:</label>
  <mat-radio-group [(ngModel)]="selectedType" *ngFor="let type of types;">
    <br/>
    <mat-radio-button class="example-margin" value={{type.id}}>{{type.name}}</mat-radio-button>
  </mat-radio-group>
</section>
<br/>
<button mat-raised-button (click)="onClick()">Send</button>

<!-- <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clusters">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tags</th>
      <th>AttributeType</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cluster of clusters">
      <td>{{ cluster.id }}</td>
      <td>{{ cluster.tagVector }}</td>
      <td>{{ cluster.attributeTypeId }}</td>
      <td>{{ cluster.distance }}</td>
    </tr>
  </tbody>
</table> -->